/* CSS Document */
html {
  font-size: 62.5%; }

body, td, th, p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5; }

body {
  margin: 0;
  position: relative; }

ul, li {
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  color: #333; }

a {
  color: white;
  text-decoration: none; }

a:hover, a:focus {
  color: #FFEBEE;
  text-decoration: none; }

a img {
  border: none 0px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0 0 20px; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0; }

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0; }

#maincontent {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    #maincontent {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; } }

#footer {
  background-color: #E57373;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #E57373;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center; }
  @media only screen and (max-width: 600px) {
    nav {
      padding: 0 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }

nav h1 {
  margin: auto; }

nav h1 a {
  color: #fff;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .8rem;
  text-transform: uppercase; }

#breadcrumb {
  padding: 5px 40px 7px;
  background-color: #424242;
  list-style: none;
  font-size: 17px;
  margin: 0;
  width: 100%; }
  @media only screen and (max-width: 1200px) {
    #breadcrumb {
      width: 100%; } }

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  color: gray; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: "/\00a0"; }

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: white;
  text-decoration: none; }

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #E57373; }

/* ====================== Map ====================== */
#map {
  height: 40rem;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    #map {
      height: 30rem;
      width: 100%; } }

#map-container {
  width: 100%; }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 10rem;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (max-width: 600px) {
    .filter-options {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      padding: 2rem 0;
      height: 15rem; } }

.filter-options h2 {
  color: #E57373;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 20px;
  min-width: 4rem; }
  @media only screen and (max-width: 600px) {
    .filter-options h2 {
      font-size: 2rem; } }

.filter-options select {
  background-color: white;
  border: 2px solid #E57373;
  font-family: 'Poppins', sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
  width: 18rem;
  border-radius: .3rem; }
  @media only screen and (max-width: 600px) {
    .filter-options select {
      width: 70%; } }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin-top: -1.7rem;
  padding: 0 0 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

#restaurants-list li {
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px #FFEBEE;
          box-shadow: 0 0 15px #FFEBEE;
  border: 2px solid #FFEBEE;
  font-family: 'Poppins', sans-serif;
  margin: 15px 15px;
  min-height: 380px;
  text-align: center;
  width: 15%;
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: relative;
  overflow: hidden;
  border-radius: .6rem;
  -webkit-transition: all .3s;
  transition: all .3s; }
  @media only screen and (max-width: 1200px) {
    #restaurants-list li {
      min-width: 240px; } }
  @media only screen and (max-width: 900px) {
    #restaurants-list li {
      min-width: 260px; } }
  @media only screen and (max-width: 700px) and (orientation: landscape) {
    #restaurants-list li {
      min-width: 220px; } }
  @media only screen and (max-width: 600px) {
    #restaurants-list li {
      min-width: 280px; } }

#restaurants-list li:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0 15px #fcd8de;
          box-shadow: 0 0 15px #fcd8de; }

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  width: 100%;
  border-bottom: 3px solid transparent;
  overflow: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem; }
  @media only screen and (max-width: 600px) {
    #restaurants-list .restaurant-img {
      max-width: 120%; } }

#restaurants-list .restaurant-img:hover {
  border-bottom: 3px solid #E57373; }

#restaurants-list li h1 {
  color: #E57373;
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px auto 10px;
  text-transform: uppercase;
  width: 80%;
  min-height: 5rem;
  vertical-align: middle; }

#restaurants-list p {
  margin: 0;
  font-size: 11pt; }

.restaurants-list-rating {
  color: #E57373;
  margin-top: 1rem; }

.restaurants-list-button {
  background-color: #EEEEEE;
  border-bottom: 3px solid #E57373;
  color: #E57373;
  display: inline-block;
  font-size: 1.5rem;
  margin: 2.5rem;
  padding: 8px 10px;
  width: 35%;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: .5rem; }

.restaurants-list-button:hover, .restaurants-list-button:focus {
  background-color: #E57373;
  border-bottom: 3px solid #E57373;
  color: white; }

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 40rem;
  width: 85%;
  margin: 0px auto 80px; }
  @media only screen and (min-width: 400px) {
    .inside #map-container {
      background: blue none repeat scroll 0 0;
      height: 50rem;
      width: 100%;
      margin: 0px 0px 66px; } }
  @media only screen and (min-width: 1201px) {
    .inside #map-container {
      background: blue none repeat scroll 0 0;
      height: 90%;
      position: fixed;
      right: 0;
      top: 117px;
      width: 50%; } }

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%; }

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%; }

#restaurant-name {
  color: #E57373;
  font-family: 'Poppins', sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1; }
  @media only screen and (max-width: 600px) {
    #restaurant-name {
      margin: 160px 0 30px;
      padding: 0 20px; } }

#restaurant-img {
  width: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 600px) {
    #restaurant-img {
      border-radius: 0; } }

#restaurant-address {
  font-size: 12pt;
  margin: 10px 42px;
  color: #E57373; }
  @media only screen and (max-width: 600px) {
    #restaurant-address {
      margin: 10px auto; } }

#restaurant-cuisine {
  background-color: #333;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

#restaurant-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #fff;
  padding: 130px 40px 30px;
  width: 50%; }
  @media only screen and (max-width: 1200px) {
    #restaurant-container {
      width: 100%; } }
  @media only screen and (max-width: 600px) {
    #restaurant-container {
      width: 100%;
      padding: 0px 0px 20px;
      margin-top: -14px;
      text-align: center; } }

/* ====================== Reviews Details ====================== */
#reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #fff;
  padding: 0px 40px 65px;
  width: 50%; }
  @media only screen and (max-width: 1200px) {
    #reviews-container {
      width: 100%;
      padding: 0px 40px 20px; } }
  @media only screen and (max-width: 600px) {
    #reviews-container {
      width: 100%;
      padding: 0px 0px 20px; } }

#reviews-container h2 {
  background-color: #333;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

#reviews-list {
  margin: 0;
  padding: 0; }

#reviews-list li {
  background-color: #fff;
  border: 2px solid #FFEBEE;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 30px 30px 20px;
  position: relative;
  width: 85%; }
  @media only screen and (max-width: 600px) {
    #reviews-list li {
      padding: 30px 22px 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }

#reviews-list li p {
  margin: 0 0 10px; }

#restaurant-hours td {
  color: #666; }

#restaurant-hours {
  margin-left: 40px; }
  @media only screen and (max-width: 600px) {
    #restaurant-hours {
      margin: 0 auto;
      padding: 0 20px;
      vertical-align: middle; } }

/* ====================== Animations ====================== */
/*# sourceMappingURL=main.css.map */