@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
  margin: 0;
  position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #F44336;
	text-decoration: none;
}
a:hover, a:focus {
	color: #E57373;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: space-between;
}
#footer {
  background-color: #212121;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #212121;
  text-align:center;
  display: flex;
  align-content: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    background-color: #424242;
    list-style: none;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: gray;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #F44336;
}
/* ====================== Map ====================== */
#map {
  height: 30rem;
  flex: 1;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 6rem;
  background-color: #424242;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 20%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #E0E0E0;
  font-family: Arial,sans-serif;
  margin: 15px 15px;
  min-height: 380px;
  padding: 25px 30px;
  text-align: center;
  width: 270px;
  display: flex;
  flex-flow: column wrap;
  border-radius: .5rem;
  position: relative;
}

#restaurants-list li:hover > .restaurannts-list-button {
  background-color: rgba(238, 238, 238, 0.5);
  border-bottom: 3px solid #F44336;
  animation: attention 1s ease-in infinite;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: -25px -30px 10px -30px;
  max-width: 123%;
  min-height: 248px;
  min-width: 100%;
  border-bottom: 3px solid transparent;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;

}

#restaurants-list .restaurant-img:hover {
  opacity: .9;
  border-bottom: 3px solid #F44336;
}

#restaurants-list li h1 {
  color: #F44336;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
.restaurannts-list-button {
  background-color: #EEEEEE;
  border-bottom: 3px solid transparent;
  color: #F44336;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 10px;
  width: 35%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
  border-radius: .5rem;
}

.restaurannts-list-button:hover {
  background-color: rgba(238, 238, 238, 0.5);
  border-bottom: 3px solid #F44336;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #F44336;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  align-self: center;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 60px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container {  
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

#restaurant-container, #reviews-container {
  border-top: 1px solid #fff;
  padding: 150px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}
#reviews-container h2 {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 30px 30px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

#restaurant-hours {
  margin-left: 60px;
}

@-webkit-keyframes attention {
  0% {
    transform: scale(1) 
  }
  50% {
    transform: scale(1.1) 
  }
  100% {
    transform: scale(1) 
  }
}