@charset "utf-8";
/* CSS Document */

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body,td,th,p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	color: #333;
	line-height: 1.5;
}
body {
  margin: 0;
  position:relative;

}
ul, li {
	font-family: 'Poppins', sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: white;
	text-decoration: none;
}
a:hover, a:focus {
	color: $light-red;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box;
}
label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
#maincontent {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: white;
  width: 100%;
  
  // @include respond(s1200) {
  //   background-color: red;
  // }
  // @include respond(s900) {
  //   background-color: blue;
  // }
  @include respond(s600) {
    flex-flow: row wrap;
  };
}
#footer {
  background-color: $red;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: $red;
  text-align:center;
  display: flex;
  align-content: center;
  @include respond(s600) {
    padding: 0 2rem;
    box-sizing: border-box;
  }; 
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .8rem;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 5px 40px 7px;
    background-color: #424242;
    list-style: none;
    font-size: 17px;
    margin: 0;
    width: 100%;
    @include respond(s1200) {
      width: 100%;
    }; 
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: gray;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: $red;
}
/* ====================== Map ====================== */
#map {
  height: 40rem;
  width: 100%;

  @include respond(s600) {
    height: 30rem;
    width: 100%;
  };
}
#map-container {
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 10rem;
  background-color: white;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @include respond(s600) {
    flex-flow: column wrap;
    padding: 2rem 0;
    height: 15rem;
  };
}
.filter-options h2 {
  color: $red;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 20px;
  min-width: 4rem;
  @include respond(s600) {
    font-size: 2rem;
  };
}
.filter-options select {
  background-color: white;
  border: 2px solid $red;
  font-family: 'Poppins', sans-serif;;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
  width: 18rem;
  border-radius: .3rem;
  @include respond(s600) {
    width: 70%;
  };
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin-top: -1.7rem;
  padding: 0 0 2rem;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
#restaurants-list li {
  background-color: #fff;
  box-shadow: 0 0 15px $light-red;
  border: 2px solid $light-red;
  font-family: 'Poppins', sans-serif;;
  margin: 15px 15px;
  min-height: 380px;
  text-align: center;
  width: 15%;
  min-width: 280px;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  overflow: hidden;
  border-radius: .6rem;
  transition: all .3s;
  @include respond(s1200) {
    min-width: 240px;
  };
  @include respond(s900) {
    min-width: 260px;
  };
  @include respond(s700) {
    min-width: 220px;
  };  
  @include respond(s600) {
    min-width: 280px;
  };  
}

#restaurants-list li:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 15px $darker-light-red;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  width: 100%;
  border-bottom: 3px solid transparent;
  overflow: hidden;
  transition: all .2s;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  @include respond(s600) {
    max-width: 120%;
  }; 
}

#restaurants-list .restaurant-img:hover {
  border-bottom: 3px solid $red;
}

#restaurants-list li h1 {
  color: $red;
  font-family: 'Poppins', sans-serif;;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px auto 10px;
  text-transform: uppercase;
  width: 80%;
  min-height: 5rem;
  vertical-align: middle;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

.restaurants-list-rating {
  color: $red;
  margin-top: 1rem;
}

.restaurants-list-button {
  background-color: #EEEEEE;
  border-bottom: 3px solid $red;
  color: $red;
  display: inline-block;
  font-size: 1.5rem;
  margin: 2.5rem;
  padding: 8px 10px;
  width: 35%;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
  border-radius: .5rem;
}

.restaurants-list-button:hover, .restaurants-list-button:focus {
  background-color: $red;
  border-bottom: 3px solid $red;
  color: white;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
    height: 40rem;
    width: 85%;
    margin: 0px auto 80px;
  @media only screen and (min-width: 400px) {
    background: blue none repeat scroll 0 0;
    height: 50rem;
    width: 100%;
    margin: 0px 0px 66px;
  }
  @media only screen and (min-width: 1201px) {
  background: blue none repeat scroll 0 0;
  height: 90%;
  position: fixed;
  right: 0;
  top: 117px;
  width:50%;
  }
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: $red;
  font-family: 'Poppins', sans-serif;;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  @include respond(s600) {
    margin: 160px 0 30px;
    padding: 0 20px;
  }; 
  
}
#restaurant-img {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  @include respond(s600) {
    border-radius: 0;
  }; 

}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 42px;
  color: $red;
  @include respond(s600) {
    margin: 10px auto;
  };
}
#restaurant-cuisine {
  background-color: #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container {  
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  padding: 130px 40px 30px;
  width: 50%;
  @include respond(s1200) {
    width: 100%;    
  }; 
  @include respond(s600) {
    width: 100%;
    padding: 0px 0px 20px;
    margin-top: -14px;
    text-align: center;
  }; 
}

/* ====================== Reviews Details ====================== */

#reviews-container {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  padding: 0px 40px 65px;
  width: 50%;
  @include respond(s1200) {
    width: 100%;
    padding: 0px 40px 20px;
  }; 
  @include respond(s600) {
    width: 100%;
    padding: 0px 0px 20px;
  }; 
}
#reviews-container h2 {
  background-color: #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  // @include respond(s600) {
  //   padding: 30px 22px 20px;
  //   box-sizing: border-box;
  // }; 
}
#reviews-list {
  margin: 0;
  padding: 0;  
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid $light-red;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 30px 30px 20px;
  position: relative;
  width: 85%;
  @include respond(s600) {
    padding: 30px 22px 20px;
    box-sizing: border-box;
  };
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

#restaurant-hours {
  margin-left: 40px;
    @include respond(s600) {
      margin: 0 auto;
      padding: 0 20px;
      vertical-align: middle;
    };
}

/* ====================== Animations ====================== */

// @keyframes backColorChange {
//   0% {
//     background-color: #EEEEEE;
//   }
//   50% {
//     background-color: $light-red;
//   }
//   100% {
//     background-color: #EEEEEE;
//   }
// }