@charset "utf-8";
/* CSS Document */

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body,td,th,p{
	font-family: 'Poppins', sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
  margin: 0;
  position:relative;
  width: 100vw;

}
ul, li {
	font-family: 'Poppins', sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: white;
	text-decoration: none;
}
a:hover, a:focus {
	color: $light-red;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box;
}
#maincontent {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #FAFAFA;
  width: 100%;
  
  // @include respond(s1200) {
  //   background-color: red;
  // }
  // @include respond(s900) {
  //   background-color: blue;
  // }
  @include respond(s600) {
    flex-flow: row wrap;
  };
}
#footer {
  background-color: $red;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: $red;
  text-align:center;
  display: flex;
  align-content: center;
  @include respond(s600) {
    padding: 0 2rem;
    box-sizing: border-box;
  }; 
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .8rem;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    background-color: #424242;
    list-style: none;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
    @include respond(s1200) {
      width: 100%;
    }; 
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    color: gray;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: $red;
}
/* ====================== Map ====================== */
#map {
  height: 40rem;
  width: 100%;

  @include respond(s600) {
    height: 30rem;
    width: 100%;
  };
}
#map-container {
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 8rem;
  background-color: #FAFAFA;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @include respond(s600) {
    flex-flow: column wrap;
    padding: 2rem 0;
    height: 15rem;
  };
}
.filter-options h2 {
  color: $red;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 20px;
  min-width: 4rem;
  @include respond(s600) {
    font-size: 2rem;
  };
}
.filter-options select {
  background-color: #FAFAFA;
  border: 2px solid $red;
  font-family: 'Poppins', sans-serif;;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 30%;
  width: 18rem;
  border-radius: .3rem;
  @include respond(s600) {
    width: 70%;
  };
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
#restaurants-list li {
  background-color: #fff;
  border: 1px solid $light-red;
  font-family: 'Poppins', sans-serif;;
  margin: 15px 15px;
  min-height: 380px;
  text-align: center;
  width: 15%;
  min-width: 280px;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  overflow: hidden;
  border-radius: .3rem;
  @include respond(s1200) {
    min-width: 240px;
  };
  @include respond(s900) {
    min-width: 260px;
  };
  @include respond(s700) {
    min-width: 220px;
  };  
  @include respond(s600) {
    min-width: 280px;
  };  
}

#restaurants-list li:hover > .restaurants-list-button {
  background-color: rgba(238, 238, 238, 0.5);
  border-bottom: 3px solid $red;
  animation: attention 1s ease-in infinite;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  width: 100%;
  border-bottom: 3px solid transparent;
  overflow: hidden;
  transition: all 1s;
  border-radius: .3rem;
  @include respond(s600) {
    max-width: 120%;
  }; 
}

#restaurants-list .restaurant-img:hover {
  opacity: .8;
  border-bottom: 3px solid $red;
}

#restaurants-list li h1 {
  color: $red;
  font-family: 'Poppins', sans-serif;;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px auto 10px;
  text-transform: uppercase;
  width: 80%;
  min-height: 5rem;
  vertical-align: middle;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

.restaurants-list-rating {
  color: $red;
  margin-top: 1rem;
}

.restaurants-list-button {
  background-color: #EEEEEE;
  border-bottom: 3px solid transparent;
  color: $red;
  display: inline-block;
  font-size: 1.5rem;
  margin: 2.5rem;
  padding: 8px 10px;
  width: 35%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
  border-radius: .5rem;
}

.restaurants-list-button:hover {
  background-color: rgba(238, 238, 238, 0.5);
  border-bottom: 3px solid $red;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  @media only screen and (min-width: 400px) {
    background: blue none repeat scroll 0 0;
    height: 50rem;
    width: 100%;
    margin: 0px 0px 66px;
  }
  @media only screen and (min-width: 1201px) {
  background: blue none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
  }
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: $red;
  font-family: 'Poppins', sans-serif;;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  align-self: center;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 60px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container {  
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  padding: 150px 40px 30px;
  width: 50%;
  @include respond(s1200) {
    width: 100%;
  }; 
}

/* ====================== Reviews Details ====================== */

#reviews-container {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  padding: 150px 40px 65px;
  width: 50%;
  @include respond(s1200) {
    width: 100%;
    padding: 0px 40px 65px;
  }; 
}
#reviews-container h2 {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 30px 30px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

#restaurant-hours {
  margin-left: 60px;
}

/* ====================== Animations ====================== */

@keyframes attention {
  0% {
    transform: scale(1) 
  }
  50% {
    transform: scale(1.05) 
  }
  100% {
    transform: scale(1) 
  }
}